%h3.text-center Наша фотогалерея
.container-fluid.text-center.my-3
  .row.mx-auto.my-auto
    #recipeCarousel.carousel.slide.w-100{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#recipeCarousel"}
        - for i in 1..images.count-1
          %li{"data-slide-to" => "i", "data-target" => "#recipeCarousel"}

      .carousel-inner{:role => "listbox"}
        - @albums.each_with_index do |value, index|
          - if index == 0
            .carousel-item.active
              = link_to image_tag(value.cover.view.url), pages_album_path(value.id), :class => "d-block col-4 img-fluid"
              .carousel-caption
                %h3= @carousel_titles[index]
          - else
            .carousel-item
              = link_to image_tag(value.cover.view.url), pages_album_path(value.id), :class => "d-block col-4 img-fluid"
              .carousel-caption
                %h3= @carousel_titles[index]
      %a.carousel-control-prev{"data-slide" => "prev", :href => "#recipeCarousel", :role => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.carousel-control-next{"data-slide" => "next", :href => "#recipeCarousel", :role => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.sr-only Next
%script{:src => "assets/carousel.js"}
