-#.container-fluid
  .jumbotron.jumbotron-fluid
    .row
      .offset-md-7
      -#.col-md-1
        =link_to image_tag('logos/lms_logo.jpg', title: 'Lightman School',  size: '144x81'), url_for(controller: :pages, action: :home)

      .col-md-5
        %h3 Звоните:
        %p.lead +38 (093) 149 20 38
        %p.lead +38 (067) 486 03 69
