.container-fluid
  .row
    .col-md-3
      =link_to image_tag('logos/lms_logo.jpg', title: 'Lightman School',  size: '288x162'), url_for(controller: :pages, action: :home)
    .col-md-1
    .col-md-8
      %p.lead +38 (093) 149 20 38
      %p.lead +38 (067) 486 03 69
