.container-fluid
  /.jumbotron.jumbotron-fluid
  /.row
  =image_tag 'panoramic.jpg',  size: '932x411'
  .row
    .col-md-3.text-center.mx-auto
      =link_to image_tag('logos/lms_logo.jpg', title: 'Lightman School',  size: '144x81'), url_for(controller: :pages, action: :home)
    .col-md-1
    .col-md-7
      %p.lead +38 (093) 149 20 38
      %p.lead +38 (067) 486 03 69
