.container-fluid
  .jumbotron.jumbotron-fluid
    .row
      .col-md-3.text-left
        = image_tag('logos/lms_logo_transp.gif', title: 'Lightman School',  size: '270x153')
      .offset-md-2
      .col-md-4.text-center
        %br
        %h3 Звоните:
        %p.lead +38 (093) 149 20 38
        %p.lead +38 (067) 486 03 69
      -#.col-md-3.text-left
        /= image_tag('logos/lms_logo_transp.gif', title: 'Lightman School',  size: '216x122')
        /= image_tag('logos/lms_logo.jpg', title: 'Lightman School',  size: '216x122')
        /= link_to image_tag('logos/lms_logo.jpg', title: 'Lightman School',  size: '144x81'), url_for(controller: :pages, action: :home)

= render("shared/directions")
%hr
= render("shared/carousel_images",   images:   @carousel_covers) if @carousel_covers.present?
%hr
= render("shared/news")
