/%h1 Добро пожаловать в Lightman School!
%br
%br
= render("shared/carousel_images",   images:   @carousel_covers) if @carousel_covers.present?
%br
= render("shared/directions")
%br
= render("shared/news")
