.row
  .col-md-3.text-center
    = link_to image_tag('logos/lms_logo.jpg', title: 'На главную',  size: '144x82'), root_path
  .col-md-6
    %h1.text-center Учебные предметы
%hr
.container-fluid
  - @subjects.each do |subject|
    .row.my_row
      .col-md-3.vcenter.text-center.my_col
        - if subject.cover.present?
          = image_tag subject.cover.preview
        - else
          = subject.title
      .col-md-8.vcenter.text-justify
        = raw subject.content
    %br
